In [18]:
import pandas as pd

In [19]:
banking = pd.read_csv('../dataset/banking.csv')
banking.drop(["Unnamed: 0"], axis=1, inplace=True)
banking

,date,cca,ccb,descricao,debito,credito,movimentacao,cc_id,cc_descricao,grupo,subgrupo,detail,cenario,grupo_empresarial,empresa
0,2023-01-13,5791,4598,Charles Berry,528704,845444,591915,708693,Tiffany Wilson,Haiti,"Accountant, chartered",Ashley Daniels,Australia,Iraqi dinar,Caroline Mcclure
1,2023-01-17,4506,1997,Angela Castaneda,878870,107754,876933,366620,Mrs. Ashley Powell DDS,Botswana,Barrister's clerk,Jessica Brown,Guadeloupe,Serbian dinar,Anthony Fritz
2,2023-01-02,4486,6541,Matthew Burns,975065,439399,538432,486171,Christopher Mann,Holy See (Vatican City State),Licensed conveyancer,Cassie Booker,Lithuania,Cayman Islands dollar,Lauren Campbell
3,2023-01-13,6371,8401,Katherine Moore,932174,410707,284040,902365,Matthew Baird,Turks and Caicos Islands,Warehouse manager,Robert Johnson MD,United States of America,Rwandan franc,Jacob Abbott
4,2023-01-26,8371,9673,Jeanette Ruiz,852688,717632,705934,374551,Katie Williams,Bouvet Island (Bouvetoya),Seismic interpreter,Audrey Adams,Tokelau,Kuwaiti dinar,Mariah Bradley
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-12-10,1186,8438,Andre Estrada,284525,509171,456724,114779,Jon Rhodes,Macao,"Pharmacist, community",Robert Daniels,Mali,Bangladeshi taka,Timothy Murray
9996,2023-01-19,3993,8669,Daniel Weiss,584521,892479,918967,885589,Patricia Kane,Northern Mariana Islands,Land,Anna Wilson,Mauritania,Israeli new shekel,Miss Adrienne Williams
9997,2022-11-14,8047,2236,Robin Allen,723971,585750,591092,666659,Bradley Moore,Eritrea,"Lighting technician, broadcasting/film/video",Jack Tucker,Jamaica,Gibraltar pound,Craig Armstrong
9998,2022-12-13,1829,7956,Vickie Knox,575221,135313,201695,316335,Stephanie Ramos,Gabon,Civil Service fast streamer,Jose Graham,Mongolia,Trinidad and Tobago dollar,Bruce Reed
9999,2022-12-28,3037,5749,Arthur Wallace,46277,29823,233624,794503,John Lynch,Lao People's Democratic Republic,Press photographer,Taylor Guerrero,Armenia,Ugandan shilling,Christopher Smith

In [20]:
print(f"Shape dataset Full:.........observations/rows: {banking.shape[0]} and columns: {banking.shape[1]}")

Shape dataset Full:.........observations/rows: 10000 and columns: 15

In [21]:
banking.dtypes

date                 object
cca                   int64
ccb                   int64
descricao            object
debito                int64
credito               int64
movimentacao          int64
cc_id                 int64
cc_descricao         object
grupo                object
subgrupo             object
detail               object
cenario              object
grupo_empresarial    object
empresa              object
dtype: object