In [1]:
import pandas as pd

In [2]:
banking = pd.read_csv('../dataset/banking.csv')
banking

      Unnamed: 0    id        client_name        date date_register      value
0              0  5563  Courtney Thompson  2023-01-09    2021-01-03   7.208978
1              1  8706    Jeffrey Gregory  2023-01-18    2021-01-21   3.619177
2              2  3368       Kiara Porter  2022-12-25    2022-03-13   8.461569
3              3  8928      Tina Johnston  2022-11-30    2022-04-29  38.835809
4              4  5096      Kyle Harrison  2022-12-13    2022-05-11  25.261933
...          ...   ...                ...         ...           ...        ...
9995        9995  1036       Heidi Thomas  2022-12-29    2021-01-25  39.019060
9996        9996  2106     Jonathan Smith  2022-11-25    2022-04-20  80.131762
9997        9997  8627         Toni Smith  2023-01-09    2021-12-08  72.208713
9998        9998  7169         Mary Smith  2023-01-20    2022-12-22   6.625890
9999        9999  2330     Cynthia Miller  2023-01-29    2022-10-04  33.640950

[10000 rows x 6 columns]